!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Ordre bekræftigelse
    %h2
      Tak
      %br/
    %p Thanks for joining and have a great day!
