 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";
 @import "shadowbox";

.nav{
  .overview, .more, .contact, .cart{

  }
  .overview, .more, .contact{
    a{
      height: 67px;
      font-size:33px;
    }
  }
  .cart{
    text-align: center;
  }
}

body{
  padding-top: 50px;
  .container{
    width: 100%;
    margin-top:20px;
  }

  img.vertical_rec{
    width: 48%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .product_block{
    padding: 20px;
  }
}

.products_show{
  img{
    width:100%
  }
}

.products_index{
  .container{
    img{
      box-shadow: 10px 10px 5px grey;
    }
  }
}

.orders_show{
  img{
    width:100%;
  }
  .to_checkout{
    position:fixed;
    font-size: 20px;
    padding: 12px;
    right: 50px;
    bottom: 37px;
    background-color: red;
  }
  .shop_more{
    position:fixed;
    font-size: 20px;
    padding: 12px;
    right: 257px;
    bottom: 37px;
    background-color: red;

  }
}

ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}


